.top-menu-admin {
  &__logo {
    width: 200px;
    font-size: 1.2rem;
    font-weight: bold !important;
    background-color: #2a2a72 !important;
    background-image: linear-gradient(150deg, #d8d8d8 10%, #b6b4b4 75%) !important;
  }
}
